@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    transition: background .5s ;
}

body.dark {
    background-color: white;
}


.switchModeWrraper{
    position: relative;
    margin-inline: 20px;
}
.switchModeWrraper span{
    transition: transform .4s ease-in-out;
}
.switchModeWrraper::before{
    content: '';
    height: 100%;
    width: 1px;
    position: absolute;
    background-color: white;
    left: -12px;
}



/* DETAILS */
.text-noun::after{

content: '';
display: inline-flex;
height: 2px;
 width: 80%; 
margin-top: 6px;
background-color:#776f6f;
}


.meaning-item::before{
    content: '';
    height: 8px;
    display: inline-block;
    width: 8px;
    transform: translateX(-14px);
    border-radius: 50%;
    background-color: #a445ed;
}


.icon-pal{
    transform: scale(3);
}




  